*{
    margin: 0;
    padding: 0;
    
}
body{
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    transition: all 500ms linear;
    perspective: 800px;

}

    
@media screen and (max-width:500px){
    body .AboutParagraph-article{
        overflow: scroll;
        /* font-size: 2vw; */
    }
}

header{
    flex: 0 0 20vh;
    height: 100%;
    max-height: 20vh;
    display: block;
    width: 80vw;
    margin: 0.5em;
}
header .logo-img{
    width: 80vw;
    max-height:100%;
    margin-left: 10%;
    margin-right: 10%;
    
}


nav{
    background-color: rgba(46, 7, 7, 0.672);
    border-radius: 2em;
    margin-left: 1em;
    margin-right: 1em;
    flex: 1 0 2vh;
    flex-wrap: wrap;
    max-height: 100%;
    /* max-height: 5vh; */
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style-type:none;
    /* flex: 1; */
}
li a{
    display: inline-block;
    text-decoration: none;
    margin: 0.5em;
    font-size: 1.25em;
    width: 25%;
    color: white;
    text-shadow: 3px 3px 10px black;
}
@keyframes nav-animation{
    0%{transform: scale(1);}
    100%{transform: scale(1.1);}
}

li:hover > a
{
    color: brown;
    text-shadow: 1px 1px 5px white,
                1px 1px 10px white,
                1px 1px 20px red;
    animation: nav-animation 2s linear 1;

}



main{
    flex: 1 0 ;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin-top: 3vh;
}
.features-section{
    flex: 1 0;
    align-self: center;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    flex-wrap: wrap;
    gap: 1vw;
    margin: 1vw;
    width: 90vw;
    height: 100%;
}
.promo-section{
    flex: 1 0 ;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    /* margin-top: 7vh; */
    height: 100%;
}
.features-article{
    flex: 1;
    color: white;
    border-radius: 2em;
    background-color: rgb(128, 128, 128,60%);
    padding: 1vh;
    text-align: center;
    height: 35vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.features-article:hover{
    overflow: visible;
    flex: 3;
}
.features-article:hover .features-article:not(:hover){
    overflow: hidden;
    flex: 2;
}
.features-article:hover .features-article:not(:hover) img{
    max-height: 5vh;
}
.features-article:hover .features-article:not(:hover) .btn{
    text-overflow: ellipsis;
    max-height: 2vh;
}

.features-article img{
    width: 100%;
    max-height: 50%;
    border-radius:2em ;
    align-self: flex-start;
}
.features-article:hover img{
    width: 100%;
    flex: 2;
    justify-self: flex-start;
}
.promo-article{
    flex: 1 0 15vh;
    color: white;
    border-radius: 2em;
    background-color: rgb(128, 128, 128,60%);
    padding: 1vh;
    height: 100%; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;  
}

.promotion-h2::before{
    color: brown;
    text-shadow: 1px 1px 5px white,
                1px 1px 10px white,
                1px 1px 20px red;
    content: "Great News ";
}
article h2{
    color: black;
    font-size: 100%;
}
article p{
    flex: 1;
    margin: 1vh;
    flex: 2 0 5vh;
   align-self: center;
   text-overflow: ellipsis;
   overflow: hidden;
   font-size: 100%;

}
article:hover p{
   overflow: visible;
    text-overflow: ellipsis;
}
article ul{
    overflow: hidden;
}
article:hover ul{
    overflow: visible;
    text-overflow: ellipsis;
 }
article div{
    flex: 1;
    align-self: center;
}
article img{
    flex: 1 1;
    align-self: center;
    width: 20vw;
    height: 20vh;
}
.btn{
    flex: 0 1 1vh;
    background-color: rgb(156, 35, 35);
    padding: 1vh;
    margin-bottom: 2px;
    border-radius: 2em;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 100%;
}
footer{
    flex: 0 0 5vh;
    max-height: 5vh;
    justify-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 1em; */
    height: 5vh;
}
footer div{
    flex: 1;
    margin: 0 5%;
}
.img img{
    max-width: 100%;
    max-height: 10vh;
}
footer .copyRight{
    border-top:2px solid black;
}
.copyRight p{
    font-size: 1em;
    color: grey;
    float: right;
}


body.about-on .HomePage {
    transform: rotateX(-10deg);
    transition-delay: 0ms;
}
body.menu-on .HomePage {
    transform: rotateX(-10deg);
    transition-delay: 0ms;
}
body.book-on .HomePage {
    transform: rotateX(-10deg);
    transition-delay: 0ms;
}
body.contact-on .HomePage {
    transform: rotateX(-10deg);
    transition-delay: 0ms;
}


.about-close,
.menu-close,
.book-close,
.contact-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    flex: 0;
    display: block;
    overflow: hidden;
    height: 30px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
    background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
    cursor: pointer;
    z-index: 11;
}

.about-close:hover,
.menu-close:hover,
.book-close:hover,
.contact-close {
    transform: rotate(90deg);
}
body.about-on .about-section {
    /*move the section to bottom to appear above the main body*/
    top: 0;
    transition-delay: 400ms;
}
body.menu-on .menu-section {
    top: 0;
    transition-delay: 400ms;
}
body.book-on .book-section {
    top: 0; 
    transition-delay: 400ms;
}
body.contact-on .contact-section {
    top: 0;
    transition-delay: 400ms;
}

.Contact-section{
    /*put this section at fixed posiion above the main body*/
    position: fixed;
    top: 100%;
    left: 0;
    padding: 100px 0;
    width: 100%;
    height: 100vh;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(31,32,41,1);
    transition: all 300ms linear;
    z-index: 10;
    max-height: 100vh;
}



/*About */
.about-section{
    /*put this section at fixed posiion above the main body*/
    position: fixed;
    top: 100%;
    left: 0;
    padding: 100px 0;
    width: 100%;
    height: 80vh;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(31,32,41,1);
    transition: all 300ms linear;
    z-index: 10;
    max-height: 100vh;
}
.about-section section{
    position: absolute;
    top: 20px;
    display: flex;
    flex-flow: column nowrap;
    height: 80vh;
}
.about-section .logo-img{
    flex:0;
    width: 80vw;
    max-height:15vh;
    margin-left: 10%;
    margin-right: 10%;
    
}
.About-h2{
    flex: 0 1;
    text-align: center;
    font-size: 8vw;
    color: white;
    text-shadow: 1px 3px 5px yellow;
}
.AboutParagraph-article{
    /* flex: 1; */
    height: fit-content;
    font-size: 3vh;
    color: white;
    border-radius: 2em;
    background-color: rgb(128, 128, 128,60%);
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em;
    /* overflow: hidden;     */
    text-overflow: ellipsis;
}
/* .AboutParagraph-article:hover{
    overflow: scroll;
} */
@media screen and (min-width: 700px){

}


.menu-section{
    /*put this section at fixed posiion above the main body*/
    position: fixed;
    top: 100%;
    left: 0;
    padding: 100px 0;
    width: 100%;
    height: 100vh;
    display: flex;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(31,32,41,1);
    transition: all 300ms linear;
    z-index: 10;
}
.menu-container{
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: stretch;
    width: 100%;
    height: 100vh;
}
.menu-container .logo-row{
 max-height: 20vh;   
}
.menu-container .logo-row img{
    height: 100%;
    width: 80%;
    margin-left: 10vw;
    margin-right: 10vw;
}
.menu-container .title-row{
    align-self: center;
    text-align: center;
    max-height: 20vh;
}
.menu-container .title-row h2{
    color: white;
    font-size: 2em;
    text-shadow: 1px 2px 5px yellow;
}
.menu-container .title-row .alert{
    color: black;
    font-size: 1.5em;
    width: 80%;
    background-color: aquamarine;
    opacity: 60%;
    border-radius: 2em;
    margin-left: 10vw;
    margin-right: 10vw;
}

.menu-container .dishes-row{
    flex: 1;
    text-align: center;
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    max-height: 50vw;
    background-color: antiquewhite;
    opacity: 60%;
    border-radius: 2em;
    margin-left: 10vw;
    margin-right: 10vw;
}

.menu-container .dishes-row h2{
    font-weight: bold;
    font-size: 1.5em;
}
.menu-container .dishes-row p{
    font-size:1em ;
}
.menu-container .dishes-row .badge{
    font-size:1em ;
    color: white;
    background-color: orangered;
    padding: 2px;
    border-radius: 5px;  
}
.menu-container .button-row{
    flex: 1;
    min-height: 10vh;
    align-self: center;
}
.menu-container .button-row .btn{
    width: 100%;
    color: white;
    font-size: 1.2em;
}

.book-section{
    /*put this section at fixed posiion above the main body*/
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(31,32,41,1);
    transition: all 300ms linear;
    z-index: 10;   
}
.book-section .book-close{
    flex: 0 0 2vh;
}
.book-section img{
    height: 100%;
    width: 80%;
    margin-left: 10vw;
    margin-right: 10vw;   
    max-height: 20vh;
    flex: 0 0 20vh;
    justify-self: flex-start;
    align-self: flex-start;
}
.book-section h2{
    color: white;
    font-size: 3vw;
    text-shadow: 1px 2px 5px yellow;   
    align-self: center;
    /* flex: 0 0 10vh; */
}
.book-section form{
    flex: 1 0;
    align-self: center;
    max-height: fit-content;
    margin-bottom: 3vh;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px yellow;
    border: none;
    border-radius: 20px;
    padding: 5px;
    display: grid;
    grid-gap: 5px;
    justify-content: stretch;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
.book-section form input:focus:invalid{
    border:3px solid red ;
    color: red;
}
.book-section form label{
    font-size: 2vw;
    font-weight: bold;
}
.book-section form #table_size label{
    font-size: 2vw;
    font-weight: unset;
}
.book-section form #table_size legend{
    font-size: 2vw;
    font-weight: bold;
}
.book-section form input{
    border-radius: 5px;
    background-color: rgb(158, 157, 157);
}
.book-section form button{
    background-color: rgb(156, 35, 35);
    padding: 1vh;
    margin-bottom: 2px;
    border-radius: 2em;
    color: white;
    font-size: 2vw;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}